*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.navbar{    
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: grey;
    &-brand{
        margin: 0; //O H1 tem uma margem por padrão
        a{
            display: block;
            width: 100px;
            height: 100px;
            background-image: url("https://images.vexels.com/media/users/3/142020/isolated/lists/57c9a9b3b4fdd07cc52898e52d64cea7-vendido-vermelho-arredondado.png");
            background-size: cover;
            background-position: center center;
            text-indent: -9999px;
        }
    }
    &-nav{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        .nav-item{
            .nav-link{
                display: block;
                padding: 0.5rem 1rem;
                color:white;
                &:hover{
                    color:black;
                }
            }
        }
    }
}

@media (max-width: 576px ) {
    .navbar .navbar-nav{
        flex-direction: column;
    }
}