div{
    border-bottom: 1px solid black;
}

.nav{
    display: flex;
    //Flex box Mozilla
    padding-left: 0; //Por padrão o UL tem uma padding esquerda
    margin: 0 0; //Por padrão o UL tem uma margin a cima e abaixo
    flex-wrap: wrap;
    list-style: none;

    
}

.nav-item{

    &:first-child{
        margin-left: auto;
    }

    &:last-child{ //representa qualquer elemento que é o último filho de seu elemento pai
        margin-right: auto;
    }
}

.nav-link{
    display: block; // Necessita pois não conseguimos aplicar o padding já que o seu display é inline 
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    &:hover{
        color: lightslategrey;
    }
}
